#topBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 32px;
    background: black;
    box-shadow: 0 -4px 8px #666 inset;
    color: #ccc;
}

#sectionLeft {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    bottom: 0;
    min-width: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#sectionMiddle {
    position: absolute;
    left: 30%;
    padding-left: 16px;
    margin-right: 15px;
    top: 0;
    right: 288px;
    bottom: 0;
    min-width: 100px;
}

#sectionRight {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 288px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.seperatorLeft,
.seperatorRight {
    width: 16px;
    height: 100%;
    background: gray;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.seperatorLeft {
    left: 30%;
}

.seperatorRight {
    right: 287px;
}

#middleTop {
    padding: 16px;
    text-align: center;
    position: relative;
    padding-bottom: 32px;
    font-size: 16px;
    height: 64px;
    overflow: hidden;
}

.seperatorBottom {
    width: 100%;
    height: 16px;
    background: gray;
    position: absolute;
    left: 0;
    bottom: 0;
}

#middleBottom {
    position: absolute;
    left: 16px;
    right: 0;
    top: 64px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#game {
    position: absolute;
    left: 0;
    top: 32px;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.progress {
    margin-bottom: inherit;
}

.dwarfBody {
    background-color: #FFF8DC;
}

    .dwarfBody > .panel-heading {
        background-color: #EEE8AA;
    }

.dwarfJobCancelButton {
    position: relative;
    bottom: 0;
    right: 0;
    height: 18px;
}

.dwarfName {
    position: relative;
    top: 0;
    left: 0;
}

.dwarfProfession {
    float: right;
}

.dwarfJobProgressBar {
    position: relative;
    background-color: lightgray;
}

.dwarfJobProgressBarText {
    white-space: nowrap;
    color: black;
    float: left;
    margin-left: 10px;
}

.building {
    margin: 10px;
    clear: both;
}

    .building > .resourceImages {
        float: left;
        width: 33%;
    }

        .building > .resourceImages > .resourceImage {
            float: left;
        }

            .building > .resourceImages > .resourceImage > img {
                border: 2px gray solid;
                margin: 7px;
                width: 32px;
                height: 32px;
            }

    .building > .buildingJobs {
        width: 25%;
        float: right;
    }

        .building > .buildingJobs > button {
            display: block;
            width: 100%;
        }

    .building > .buildingJobQueue {
        margin-left: 33%;
        margin-right: 25%;
    }

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.popup {
    z-index: 900;
}
