<p>Fortress Wealth: {{ game.wealth }}</p>

<div style="float: left; margin: 10px;">
    <p>Dwarves</p>
    <div ng-repeat="dwarf in game.dwarves" style="border: 1px black solid; width: 250px;">
        <span>{{ dwarf.name }}</span>
        <select style="float: right;" ng-model="dwarf.profession" ng-options="name for (name, profession) in game.professions" ng-change="dwarf.updateLabors()">
        </select>
        <progressbar value="dwarf.currentJob.percentComplete" type="success" style="width: 100%;">
            <span style="color:black; white-space:nowrap;">
                {{ dwarf.currentJob.name || "Idle" }} - {{ dwarf.currentJob.effortSpent + " / " + dwarf.currentJob.effortRequired }}
            </span>
        </progressbar>
    </div>
</div>

<div style="float: left; margin: 10px;">
    <p>Resources</p>
    <table>
        <tr ng-repeat="resource in game.resources">
            <td>{{ resource.name }}</td>
            <td>{{ resource.count | number:0 }}</td>
        </tr>
    </table>
</div>

<div style="float: left; margin: 10px;">
    <p>Add Job</p>
    <button ng-repeat="jobDefinition in game.jobDefinitions" ng-click="game.addJobToQueue(jobDefinition)" ng-disabled="!jobDefinition.canCreate(game)" tabIndex="-1">
        {{ jobDefinition.name }}
    </button>
    <p>Pending Jobs</p>
    <div ng-repeat="job in game.jobQueue | filter:{ status:'Pending' }">
        {{ job.name }} - {{ job.status }}
        <button ng-click="job.cancel()">Cancel</button>
    </div>
</div>